<header>
    <a href="./index.html"><img class="logo" src="./img/logo.png" alt="logo"></a>

    <div class="headerSearch">
        <img src="./img/search.png" alt="search">
        <input id="searchInput" onkeyup="searchInput()" placeholder="Artikel suchen..." type="text">
        <div class="outputSearch" id="outputSearch"></div>
    </div>

    <div class="headerIcons">
        <img src="./img/home.png" alt="home">
        <img src="./img/arrow.png" alt="arrow">
        <img src="./img/plus.png" alt="plus">
        <img src="./img/compass.png" alt="compass">
        <img src="./img/heart.png" alt="heart">
        <img src="./img/profile.png" alt="profile">
    </div>
</header>